[mysqld]

gtid-domain-id                               = 1
auto_increment_increment                     = 3
auto_increment_offset                        = 1
expire_logs_days                             = 10
log_bin                                      = /var/log/mysql/bin.log
max_binlog_size                              = 100M
